MAIL_MODE=live
SANDBOX_REDIRECT_TO=sitkei.freemail@gmail.com
SMTP_HOST=mail.sitkeitamas.hu
SMTP_PORT=587
SMTP_TLS=true
SMTP_USER=sitkeitamas
SMTP_PASSWORD=
MAIL_FROM=me@sitkeitamas.hu
ARCHIVE_BCC_TO=selfridge.parker@gmail.com
MAX_UPLOAD_MB=2
RUNTIME_SETTINGS_FILE=data/server_settings.json

APP_ENV=development
BASIC_AUTH_ENABLED=true
BASIC_AUTH_USERNAME=admin
BASIC_AUTH_PASSWORD=change-me
